.scroller-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.scroller {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1rem;;
    gap: 1rem;
    scrollbar-width: none;
    
}

.scroller::-webkit-scrollbar {
    display: none;
}

.scrollerItem {
    scroll-snap-align: start;
    flex: 0 0 90%;
    /* 90% of the container width */
    padding: 1rem;
    @apply flex flex-col md:flex-row bg-slate-900;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
}

.scrollerButton {
    background: var(--color-primary);
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}